.Input-error_place_password {
  top: 471px;
}

@media screen and (max-width: 800px) {
  .Input-error_place_password {
    top: 633px;
  }
}

@media screen and (max-width: 425px) {
  .Input-error_place_password {
    top: 507px;
  }
}