.Input-error_place_password-register {
  top: 471px;
}

@media screen and (max-width: 800px) {
  .Input-error_place_password-register {
    top: 633px;
  }
}

@media screen and (max-width: 425px) {
  .Input-error_place_password-register {
    top: 507px;
  }
}