.Header__entry-button {
  appearance: none;
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  background-color:#F9F9F9;
  min-height: 32px;
  width: 100px;
  margin: 0; 
  padding: 0;  
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  opacity: 1;
  transition: opacity linear 0.2s;
}