.Promo__logo {
  padding: 0;
  margin: 102px 0 0 0;
  width: 722px;
  height: 244px;
  background-image: url(../../../../images/promo-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .Promo__logo {
    margin-top: 140px;
    align-self: center;
  }
}