.Footer__copyright {  
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  padding:0;
}

@media screen and (max-width: 425px) {
  .Footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
    order: 1;
  }
}