.Promo__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 626px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .Promo__title {
    max-width: 680px;
    text-align: center;
  }
}