.NavTab__entry-button {
  margin: 0;
  appearance: none;
  border: 0;
  background-color: rgba(0,0,0,0);
  background-image: url(../../../../images/entry-button.svg);
  min-height: 32px;
  min-width: 76px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity linear 0.2s;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;  
}

.NavTab__entry-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .NavTab__entry-button__edit-button {
    min-height: 26px;
    min-width: 54px;
    font-size: 10px;
  }
}