.NavTab__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: right;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity linear 0.2s;
}

.NavTab__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .NavTab__link {
    font-size: 10px;
  }
}