.AboutMe__name {  
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 0 18px 0;
}

@media screen and (max-width: 800px) {
  .AboutMe__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 690px) {
  .AboutMe__name {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}